<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="IndexFolder" value="C:\Test"/>
		<add key="AppName" value="Office Searcher 1.0"/>
		<add key="Version" value="1.0"/>
		<add key="MaxFindResult" value="1000"/>
		<add key="ShortHtml" value="600"/>
		<add key="RemoveText" value="CỘNG HÒA XÃ HỘI CHỦ NGHĨA VIỆT NAM|Độc lập - Tự do - Hạnh phúc|Độc lập – Tự do – Hạnh phúc|-----o0o-----|-------"/>
	</appSettings>
</configuration>